<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291941898274-rbti608cs2ratvnkr7mgjk9gsq24ksd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291941898274-rbti608cs2ratvnkr7mgjk9gsq24ksd5</string>
	<key>API_KEY</key>
	<string>AIzaSyA0QZXkFwC0rxTeU7k9Xnb3ppZqPh8QsUM</string>
	<key>GCM_SENDER_ID</key>
	<string>291941898274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Faith.phyllin</string>
	<key>PROJECT_ID</key>
	<string>phyllin-5e022</string>
	<key>STORAGE_BUCKET</key>
	<string>phyllin-5e022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291941898274:ios:30a9c368f8a5f0845d527b</string>
</dict>
</plist>